body {
  font-family: sans-serif;
  text-align: center;
  background: #1e1e1e;
  color: white;
}

#device {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 20px;
  color: black;
}

#pad {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  font-size: 18px;
  background: #ccc;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

#lights span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #444;
  border-radius: 50%;
  margin: 4px;
}

.active {
  background: lime !important;
}

#result {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}
